<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- <link rel="stylesheet" href="assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/assets/js/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/static/assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:insert="~{admin/partials/_navbar :: navbarFragment}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:insert="~{admin/partials/_sidebar :: sidebarFragment}"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Order Statistics</h4>
                                <form th:action="@{/admin/revenue/order}" method="get">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="startDate">Start Date:</label>
                                                <input type="date" class="form-control" id="startDate" name="startDate"
                                                       th:value="${startDate}">
                                            </div>
                                            <div class="form-group">
                                                <label for="toDate">End Date:</label>
                                                <input type="date" class="form-control" id="toDate" name="toDate"
                                                       th:value="${toDate}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 align-items-end">
                                            <select class="form-select" aria-label="Select Category" name="staffId">
                                                <option selected value="-1">Select staff</option>
                                                <option th:each="staff : ${staffs}"
                                                        th:selected="${staffId == staff.ID}"
                                                        th:value="${staff.ID}"
                                                        th:text="${staff.fullName}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                        </div>
                                    </div>
                                </form>

                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th> #</th>
                                            <th> Customer name</th>
                                            <th> Phone number</th>
                                            <th> Order Time</th>
                                            <th> Price</th>
                                            <th> Create by</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-info" th:each="order, iter : ${orders}">
                                            <td th:text="${iter.count}"></td>
                                            <td th:text="${order.customerName}"></td>
                                            <td th:text="${order.phoneNumber}"></td>
                                            <td th:text="${#temporals.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}"></td>
                                            <td th:text="'$' + ${order.totalPrice}"></td>
                                            <td th:text="${order.staff.fullName}"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-bs-target='#' + 'orderDetailsModal' + ${order.id}">
                                                    Detail
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="table-info" style="font-weight: bold">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>TOTAL</td>
                                            <td th:text="'$' + ${totalPrice}"></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3" th:if="${totalPrice > 0}">
                    <form th:action="@{/admin/revenue/order/download}" method="get">
                        <input type="hidden" th:value="${startDate}" name="startDate"/>
                        <input type="hidden" th:value="${toDate}" name="toDate"/>
                        <input type="hidden" th:value="${staffId}" name="staffId"/>
                        <button type="submit" class="btn btn-info btn-icon-text"> Print <i
                                class="ti-printer btn-icon-append"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal (placed outside the table) -->
<div th:each="order : ${orders}">
    <div class="modal fade" th:id="'orderDetailsModal' + ${order.id}" tabindex="-1"
         aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label style="font-weight: bold">Customer Name:</label>
                        <p th:text="${order.customerName}"></p>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold">Phone Number:</label>
                        <p th:text="${order.phoneNumber}"></p>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold">Order Time:</label>
                        <p th:text="${#temporals.format(order.orderTime, 'dd/MM/yyyy HH:mm:ss')}"></p>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold">Table Name:</label>
                        <p th:text="${order.tableFood.name}"></p>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold">Products:</label>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${order.orderDetails}">
                                <td th:text="${product.food.name}"></td>
                                <td th:text="${product.quantity}"></td>
                                <td th:text="'$' + ${product.food.price * product.quantity}"></td>
                            </tr>
                            <tr style="font-weight: bold">
                                <td>TOTAL</td>
                                <td></td>
                                <td th:text="'$' + ${order.totalPrice}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: bold">Created By:</label>
                        <p th:text="${order.staff.fullName}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script th:src="@{/static/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/static/assets/js/off-canvas.js}"></script>
<script th:src="@{/static/assets/js/template.js}"></script>
<script th:src="@{/static/assets/js/settings.js}"></script>
<script th:src="@{/static/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
</body>
</html>