<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin - Category</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/static/assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:insert="~{admin/partials/_navbar :: navbarFragment}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:insert="~{admin/partials/_sidebar :: sidebarFragment}"></div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Drink category</h4>
                                <button class="btn btn-primary mb-3" data-bs-toggle="modal"
                                        data-bs-target="#addCategoryModal">
                                    Add New Category
                                </button>
                                <div th:if="${messageError}" class="alert alert-danger" role="alert">
                                    <span th:text="${messageError}"></span>
                                </div>
                                <div th:if="${messageSuccess}" class="alert alert-success" role="alert">
                                    <span th:text="${messageSuccess}"></span>
                                </div>
                                <div class="table-responsive pt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th> #</th>
                                            <th> Category name</th>
                                            <th> Number drink</th>
                                            <th> Status</th>
                                            <th> Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="category, iter: ${categories}">
                                            <td th:text="${iter.count}"></td>
                                            <td th:text="${category.name}"></td>
                                            <td th:text="${category.foods.size()}"></td>
                                            <td>
                                                <form th:action="@{/admin/food/category/{id}/change-status(id=${category.id})}"
                                                      method="post">
                                                    <button th:id="'status-button-' + ${category.id}"
                                                            th:text="${category.status == true ? 'Active' : 'Inactive'}"
                                                            th:class="${category.status == true ? 'btn btn-success' : 'btn btn-danger'}">
                                                    </button>
                                                </form>
                                            </td>
                                            <td>
                                                <!-- Update Button -->
                                                <!-- Update Button -->
                                                <button class="btn btn-primary btn-sm update-btn"
                                                        data-bs-toggle="modal"
                                                        th:attr="data-bs-target='#' + 'updateCategoryModal' + ${category.id}">
                                                    Update
                                                </button>
                                                <!-- Delete Button -->
<!--                                                <a class="btn btn-danger btn-sm"-->
                                                <!--                                                   th:href="@{/admin/food/category/delete/{id}(id=${category.id})}"-->
                                                <!--                                                   th:onclick="return confirm('Are you sure you want to delete this category?')">-->
                                                <!--                                                    Delete-->
                                                <!--                                                </a>-->
                                            </td>

                                            <!-- Update Category Modal -->
                                            <div class="modal fade" th:id="'updateCategoryModal' + ${category.id}"
                                                 tabindex="-1"
                                                 aria-labelledby="updateCategoryModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="updateCategoryModalLabel">Update
                                                                Category</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="updateCategoryForm" method="post"
                                                                  th:object="${category}"
                                                                  th:action="@{/admin/food/category/update/{id}(id=${category.id})}">
                                                                <div class="mb-3">
                                                                    <label for="updateCategoryName" class="form-label">Category
                                                                        Name</label>
                                                                    <div class="text-danger" th:errors="*{name}"></div>
                                                                    <input type="text" class="form-control"
                                                                           id="updateCategoryName" name="name"
                                                                           th:value="*{name}"
                                                                           required>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Update
                                                                        Category
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->

            <!-- Add Category Modal -->
            <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel"
                 aria-hidden="true"
                 th:classappend="${showAddCategoryModal} ? 'show' : ''"
                 th:style="${showAddCategoryModal} ? 'display:block;' : 'display:none;'">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="addCategoryForm" method="post" th:action="@{/admin/food/category/add-new}"
                                  th:object="${category}">
                                <div class="mb-3">
                                    <label for="categoryName" class="form-label">Category Name</label>
                                    <div class="text-danger" th:errors="*{name}"></div>
                                    <input type="text" class="form-control" id="categoryName" name="name"
                                           th:field="*{name}" required>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">Add Category</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023. Premium <a
                            href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                            class="ti-heart text-danger ms-1"></i></span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/static/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/static/assets/js/off-canvas.js}"></script>
<script th:src="@{/static/assets/js/template.js}"></script>
<script th:src="@{/static/assets/js/settings.js}"></script>
<script th:src="@{/static/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        var showModal = /*[[${showAddCategoryModal}]]*/ false;
        var showUpdateCategoryModal = /*[[${showUpdateCategoryModal}]]*/ false;
        var cateId = /*[[${cateId}]]*/;
        if (showModal) {
            var addCategoryModal = new bootstrap.Modal(document.getElementById('addCategoryModal'));
            addCategoryModal.show();
        }

        if (showUpdateCategoryModal) {
            var updateCategoryModal = new bootstrap.Modal(document.getElementById('updateCategoryModal' + cateId));
            updateCategoryModal.show();
        }

        document.querySelectorAll('[data-bs-dismiss="modal"]').forEach(function (element) {
            element.addEventListener('click', function () {
                var modalEl1 = document.getElementById('addCategoryModal');
                var modalEl2 = document.getElementById('updateCategoryModal' + cateId);
                var modal1 = bootstrap.Modal.getInstance(modalEl1);
                var modal2 = bootstrap.Modal.getInstance(modalEl2);
                modal1.hide();
                modal2.hide();
            });
        });
    });
    /*]]>*/
</script>
</body>
</html>