<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product List</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/product-list.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/static/assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:insert="~{admin/partials/_navbar :: navbarFragment}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:insert="~{admin/partials/_sidebar :: sidebarFragment}"></div>
        <!--         partial -->
        <section class="section-products">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="header">
                            <h2>All Foods</h2>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addDrinkModal">
                    Add New Drink
                </button>

                <div class="row mt-3">
                    <!-- Single Product -->
                    <div th:each="food : ${foods}" class="col-md-6 col-lg-4 col-xl-3">
                        <div class="single-product"
                             th:style="'background: url(http://localhost:8080' + ${food.images} + ') no-repeat center; background-size: cover; transition: all 0.3s;'">
                            <div class="part-1">
                                <span th:if="${!food.status}" class="new">Deleted</span>
                                <span th:if="${food.status}" class="discount">In sale</span>
                                <ul>
                                    <li th:if="${food.status == false}">
<!--                                        <a href="#"><i class="fa fa-plus-square"></i></a>-->
                                        <form th:action="@{/admin/food/update/status/{id}(id=${food.id})}" method="post" style="display:inline;">
                                            <button type="submit" style="border:none; background:none; padding:0;">
                                                <a href="#"><i class="fa fa-plus-square"></i></a>
                                            </button>
                                        </form>
                                    </li>
<!--                                    <li><a href="#"><i class="fa fa-minus-square"></i></a></li>-->
                                </ul>
                            </div>
                            <a th:href="@{/admin/food/details/{id}(id=${food.id})}">
                                <div class="part-2">
                                    <h3 class="product-title" th:text="${food.name}"></h3>
                                    <h4 class="product-price" th:text="${food.price}"></h4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- main-panel ends -->
    </div>
    <!-- Pagination -->
    <div class="wrapper">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- Previous Link -->
                <li class="page-item" th:classappend="${pageNumber == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{|list?page=${pageNumber - 1}|}" tabindex="-1">Previous</a>
                </li>
                <!-- Page Numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, pageSize - 1)}"
                    th:classappend="${i == pageNumber} ? 'active'">
                    <a class="page-link" th:text="${i + 1}" th:href="@{|list?page=${i}|}"></a>
                </li>
                <!-- Next Link -->
                <li class="page-item" th:classappend="${pageNumber + 1 == pageSize} ? 'disabled'">
                    <a class="page-link" th:href="@{|list?page=${pageNumber + 1}|}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Pagination ends -->
    <!-- page-body-wrapper ends -->
</div>
<!-- Add Drink Modal -->
<div class="modal fade" id="addDrinkModal" tabindex="-1" aria-labelledby="addDrinkModalLabel" aria-hidden="true"
     th:classappend="${showAddDrinkModal} ? 'show' : ''"
     th:style="${showAddDrinkModal} ? 'display:block' : 'display:none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDrinkModalLabel">Add New Drink</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDrinkForm" method="post" enctype="multipart/form-data" th:object="${food}"
                      th:action="@{/admin/food/add-new}">
                    <div class="mb-3">
                        <label for="drinkName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="drinkName" name="name" required>
                        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="category">Category</label>
                        <select class="form-control" id="category" name="foodCategory">
                            <option value="" disabled selected>Select Category</option>
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('foodCategory')}"
                             th:errors="*{foodCategory}"></div>
                    </div>
                    <!--                    <div class="mb-3">-->
                    <!--                        <label for="drinkStatus" class="form-label">Status</label>-->
                    <!--                        <select class="form-select" id="drinkStatus" name="status" required>-->
                    <!--                            <option value="true">In menu</option>-->
                    <!--                            <option value="false">Not in menu</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <div class="mb-3">
                        <label for="drinkImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="drinkImage" name="image"
                               accept="image/png, image/jpeg" required>
                    </div>
                    <div class="mb-3">
                        <label for="drinkDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="drinkDescription" name="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="drinkPrice" class="form-label">Price</label>
                        <input type="number" class="form-control" id="drinkPrice" name="price" required>
                        <div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Drink</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/static/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/static/assets/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendors/select2/select2.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/static/assets/js/off-canvas.js}"></script>
<script th:src="@{/static/assets/js/template.js}"></script>
<script th:src="@{/static/assets/js/settings.js}"></script>
<script th:src="@{/static/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/static/assets/js/file-upload.js}"></script>
<script th:src="@{/static/assets/js/typeahead.js}"></script>
<script th:src="@{/static/assets/js/select2.js}"></script>
<!-- End custom js for this page-->
</body>
</html>