<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product List</title>
    <!-- plugins:css -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/feather/feather.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/product-list.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/static/assets/vendors/select2/select2.min.css}">
    <link rel="stylesheet" th:href="@{/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{/static/assets/images/favicon.png}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div th:insert="~{admin/partials/_navbar :: navbarFragment}"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <div th:insert="~{admin/partials/_sidebar :: sidebarFragment}"></div>
        <!--         partial -->
        <section class="section-products">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="header">
                            <h2>All Foods</h2>
                        </div>
                        <div th:if="${messageError}" class="alert alert-danger" role="alert">
                            <span th:text="${messageError}"></span>
                        </div>
                        <div th:if="${messageSuccess}" class="alert alert-success" role="alert">
                            <span th:text="${messageSuccess}"></span>
                        </div>
                    </div>
                </div>
                <!--                <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addDrinkModal">-->
                <!--                    Add New Product-->
                <!--                </button>-->
                <!--                <form th:action="@{/admin/excel/upload}" method="post" enctype="multipart/form-data">-->
                <!--                    <input type="file" name="file" id="fileInput" style="display:none;"/>-->
                <!--                    <button type="button" class="btn btn-primary mt-3"-->
                <!--                            onclick="document.getElementById('fileInput').click();">-->
                <!--                        <i class="ti ti-import"></i>-->
                <!--                        Import From Excel-->
                <!--                    </button>-->
                <!--                    <input type="submit" id="submitBtn" style="display:none;"/>-->
                <!--                </form>-->
                <!-- Buttons in a single row -->
                <div class="row mt-3">
                    <div class="col-md-2 d-flex justify-content-center">
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDrinkModal">
                            Add New Drink
                        </button>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <form th:action="@{/admin/excel/upload}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" id="fileInput" style="display:none;"/>
                            <button type="button" class="btn btn-primary"
                                    onclick="document.getElementById('fileInput').click();">
                                <i class="ti ti-import"></i>
                                Import From Excel
                            </button>
                            <input type="submit" id="submitBtn" style="display:none;"/>
                        </form>
                    </div>
                </div>

                <!-- Search and Filter Section -->
                <form th:action="@{/admin/food/list}" method="get">
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <input type="text" name="search" class="form-control" id="search"
                                   th:value="${search}"
                                   placeholder="Search for products...">
                        </div>
                        <div class="col-md-3">
                            <select style="height: 100%" class="form-control" id="categoryFilter" name="categoryId">
                                <option value="-1" th:selected="${categoryId == -1}">All Categories</option>
                                <option th:each="category : ${categories}"
                                        th:selected="${categoryId == category.id}"
                                        th:value="${category.id}"
                                        th:text="${category.name}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Filter</button>
                        </div>
                    </div>
                </form>

                <div class="row mt-3">
                    <!-- Single Product -->
                    <div th:each="food : ${foods}" class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <span th:if="${!food.status}" class="badge bg-secondary">Deleted</span>
                                <span th:if="${food.status}" class="badge bg-danger">In sale</span>
                            </div>
                            <div class="card-body">
                                <div class="image-container position-relative">
                                    <img th:src="@{${food.images}}" class="card-img-top" alt="Product Image">
                                    <a th:href="@{/admin/food/details/{id}(id=${food.id})}"
                                       class="position-absolute top-0 end-0 m-2">
                                        <form th:action="@{/admin/food/update/status/{id}(id=${food.id})}" method="post"
                                              style="display:inline;">
                                            <button th:if="${food.status == false}" type="submit"
                                                    style="border:none; background:none; padding:0;">
                                                <i class="mdi mdi-plus-circle-outline text-primary"
                                                   style="font-size: 1.5rem;"></i>
                                            </button>
                                        </form>
                                    </a>
                                </div>
                                <h5 class="card-title mt-3">
                                    <a th:href="@{/admin/food/details/{id}(id=${food.id})}" th:text="${food.name}"></a>
                                </h5>
                                <p class="card-text" th:text="'$' + ${food.price}"></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Product ends -->
                </div>
            </div>
        </section>
        <!-- main-panel ends -->
    </div>
    <!-- Pagination -->
    <div class="wrapper">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <!-- Previous Link -->
                <li class="page-item" th:classappend="${pageNumber == 0} ? 'disabled'">
                    <a class="page-link"
                       th:if="${search.equals('') and categoryId == -1}"
                       th:href="@{|list?page=${pageNumber - 1}|}"
                       tabindex="-1">Previous</a>
                    <a class="page-link"
                       th:if="${search.equals('') and categoryId != -1}"
                       th:href="@{|list?categoryId=${categoryId}&page=${pageNumber - 1}|}"
                       tabindex="-1">
                        Previous
                    </a>
                    <a class="page-link"
                       th:if="${!search.equals('') and categoryId == -1}"
                       th:href="@{|list?search=${search}&page=${pageNumber - 1}|}"
                       tabindex="-1">
                        Previous
                    </a>
                    <a class="page-link"
                       th:if="${!search.equals('') and categoryId != -1}"
                       th:href="@{|list?search=${search}&categoryId=${categoryId}&page=${pageNumber - 1}|}"
                       tabindex="-1">
                        Previous
                    </a>
                </li>
                <!-- Page Numbers -->
                <li class="page-item" th:each="i : ${#numbers.sequence(0, pageSize - 1)}"
                    th:classappend="${i == pageNumber} ? 'active'">
                    <a class="page-link" th:text="${i + 1}"
                       th:if="${search.equals('') and categoryId == -1}"
                       th:href="@{|list?page=${i}|}"
                       tabindex="-1">
                    </a>
                    <a class="page-link" th:text="${i + 1}"
                       th:if="${search.equals('') and categoryId != -1}"
                       th:href="@{|list?categoryId=${categoryId}&page=${i}|}"
                       tabindex="-1">
                    </a>
                    <a class="page-link" th:text="${i + 1}"
                       th:if="${!search.equals('') and categoryId == -1}"
                       th:href="@{|list?search=${search}&page=${i}|}"
                       tabindex="-1">
                    </a>
                    <a class="page-link" th:text="${i + 1}"
                       th:if="${!search.equals('') and categoryId != -1}"
                       th:href="@{|list?search=${search}&categoryId=${categoryId}&page=${i}|}"
                       tabindex="-1">
                    </a>
                </li>
                <!-- Next Link -->
                <li class="page-item" th:classappend="${pageNumber + 1 == pageSize} ? 'disabled'">
                    <a class="page-link"
                       th:if="${search.equals('') and categoryId == -1}"
                       th:href="@{|list?page=${pageNumber + 1}|}"
                       tabindex="-1">
                        Next
                    </a>
                    <a class="page-link"
                       th:if="${search.equals('') and categoryId != -1}"
                       th:href="@{|list?categoryId=${categoryId}&page=${pageNumber + 1}|}"
                       tabindex="-1">
                        Next
                    </a>
                    <a class="page-link"
                       th:if="${!search.equals('') and categoryId == -1}"
                       th:href="@{|list?search=${search}&page=${pageNumber + 1}|}"
                       tabindex="-1">
                        Next
                    </a>
                    <a class="page-link"
                       th:if="${!search.equals('') and categoryId != -1}"
                       th:href="@{|list?search=${search}&categoryId=${categoryId}&page=${pageNumber + 1}|}"
                       tabindex="-1">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Pagination ends -->
    <!-- page-body-wrapper ends -->
</div>
<!-- Add Drink Modal -->
<div class="modal fade" id="addDrinkModal" tabindex="-1" aria-labelledby="addDrinkModalLabel" aria-hidden="true"
     th:classappend="${showAddDrinkModal} ? 'show' : ''"
     th:style="${showAddDrinkModal} ? 'display:block;' : 'display:none;'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDrinkModalLabel">Add New Drink</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addDrinkForm" method="post" enctype="multipart/form-data" th:object="${food}"
                      th:action="@{/admin/food/add-new}">
                    <input type="hidden" name="search" th:value="${search}"/>
                    <input type="hidden" name="categoryId" th:value="${categoryId}"/>
                    <input type="hidden" name="page" th:value="${pageNumber}"/>
                    <div class="mb-3">
                        <label for="drinkName" class="form-label">Name</label>
                        <div class="text-danger" th:errors="*{name}"></div>
                        <input type="text" class="form-control" id="drinkName" name="name" th:field="*{name}" required>
                    </div>
                    <div class="mb-3">
                        <label for="category">Category</label>
                        <div class="text-danger" th:errors="*{foodCategory}"></div>
                        <select class="form-control" id="category" name="foodCategory" th:field="*{foodCategory}"
                                required>
                            <option value="" disabled selected>Select Category</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="drinkImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="drinkImage" name="image"
                               accept="image/png, image/jpeg" required>
                    </div>
                    <div class="mb-3">
                        <label for="drinkDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="drinkDescription" name="description" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="drinkPrice" class="form-label">Price</label>
                        <div class="text-danger" th:errors="*{price}"></div>
                        <div class="text-danger" th:if="${errorPrice}" th:text="${errorPrice}"></div>
                        <input type="number" class="form-control" id="drinkPrice" name="price" th:field="*{price}"
                               required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Drink</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- container-scroller -->
<!-- plugins:js -->
<script th:src="@{/static/assets/vendors/js/vendor.bundle.base.js}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script th:src="@{/static/assets/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
<script th:src="@{/static/assets/vendors/select2/select2.min.js}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script th:src="@{/static/assets/js/off-canvas.js}"></script>
<script th:src="@{/static/assets/js/template.js}"></script>
<script th:src="@{/static/assets/js/settings.js}"></script>
<script th:src="@{/static/assets/js/todolist.js}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script th:src="@{/static/assets/js/file-upload.js}"></script>
<script th:src="@{/static/assets/js/typeahead.js}"></script>
<script th:src="@{/static/assets/js/select2.js}"></script>
<!-- End custom js for this page-->

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        var showModal = /*[[${showAddDrinkModal}]]*/ false;
        if (showModal) {
            var addDrinkModal = new bootstrap.Modal(document.getElementById('addDrinkModal'));
            addDrinkModal.show();
        }

        document.querySelectorAll('[data-bs-dismiss="modal"]').forEach(function (element) {
            element.addEventListener('click', function () {
                var modalEl = document.getElementById('addDrinkModal');
                var modal = bootstrap.Modal.getInstance(modalEl);
                modal.hide();
            });
        });
    });
    /*]]>*/
</script>
<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        if (this.files.length > 0) {
            document.getElementById('submitBtn').click();
        }
    });
</script>

</body>
</html>